.vPlotCtrl {
	position: absolute;
	top: 340;
	left: 875px;
	text-align: center;
	transform: rotate(90deg);
	color: blue;
}
/*<<<<<<< HEAD
=======

>>>>>>> a05e660c9d4a04aedad44f94d40364f10e54d612*/
.hPlotCtrl {
	position: absolute;
	top:25px;
	left:400px;
	color: blue;
}
a {
	text-align: center;
	color: blue;
	border-style:solid;
	border-width: 3px;
	border-radius: 5px;
	cursor: pointer;
}

#canvas {
	position:absolute;
	top:60px;
	left:150px;
	width: 800px;
	height:600px;
}