.vPlotCtrl {
	position: absolute;
	top: 980;
	left: 875px;
	text-align: center;
	transform: rotate(90deg);
	color: blue;
}

.hPlotCtrl {
	position: absolute;
	top:665px;
	left:400px;
	color: blue;
}
a {
	text-align: center;
	color: blue;
	border-style:solid;
	border-width: 3px;
	border-radius: 5px;
	cursor: pointer;
}

#curveChart {
	width: 900px; 
	height: 500px;
}


#canvas {
	position:absolute;
	top:700px;
	left:150px;
	width: 800px;
	height:600px;
}